.reset-senha{
  text-align: end;
  font-size: var(--fonte-tamanho-secundaria);
  margin-bottom: 0.5rem;
}
.novo-cadastro{
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
  text-align: center;
  padding:1rem 0;
}
