.botao--container{
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    outline: none;
    padding: 0 0.5rem ;
    cursor: pointer;
    font-size: var(--fonte-tamanho-botao);
}
.btn-contribuicao{
    width: 180px;
    height: 84px;
    flex-direction: column;
}
.botao--primario{
    background-color: var(--azul-1);
    color: var(--contraste-claro);    
    margin-top: 0.5rem
}
.botao--secundario{
    background-color: var(--azul-10);
    color: var(--azul-1);
    border: 1px solid var(--cinza-4);
    margin-top: 0.5rem
}
.botao--terciario{
    background-color: var(--azul-5);
    color: var(--azul-1);
    
}

.botao-envio{
    display: flex;
    min-width: 5rem;
    max-width: 100rem;
    width: 10rem;
}
.botao-aviso{
    margin-right: 0.5rem;
}

.botao-aviso:hover{
    color: var(--cor-aviso);
    background-color: var(--cor-aviso-fundo);
    box-shadow: var(--borda-aviso);
    border: none;
   
}
@media screen and (min-width: 1024px) {
    .botao--container{
        padding:  0 1rem;
    }
}