.cartao__container{
    border-radius: 8px;
    background-color: var(--contraste-claro);
}
.cartao-xxs{
    padding: 1rem 1rem;
    margin-right: 0;
}
.cartao-xs{
    text-align: center;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}
.cartao-xxl{
    min-width: 75%;
    padding: 1rem 1rem;
    margin: .5rem 0 ;
    min-height: 650px;
    position: relative;
}
.cartao-xl{
    position: relative;
    min-height: 325px;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}
.item-img{
    height: 15rem;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--cinza-4);
}

.item-img img{
    object-fit: cover;
    object-position: center;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
.item-titulo{
    font-size: var(--fonte-tamanho-titulo);
    font-weight: var(--fonte-peso-medium);
    color:var(--cinza-2);
    padding-left: 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.item-user{
    font-size: var(--fonte-tamanho-secundaria);
}
.post span{
    line-height: 1.5rem;
    font-size: 20px;
    font-weight: 500;
    color: var(--cinza-2);
}

.sem-conteudo{
    font-size: var(--fonte-tamanho-secundaria);
    color:var(--cinza-3);
    position: absolute;
    top:39%;
    right:0%;
    text-align: center;
    width: 100%;
}

.cartao-xs__txt{
    line-height: normal;
    font-size: var(--fonte-tamanho-secundaria);   
}

.cartao-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.cartao__container--item{ /* Remover a margin dos elementos multiplos de 2*/
    margin-left:0.5%;
    margin-right: 0.5%;
    cursor: pointer;
    width: 49.5%;
    margin-bottom: 0.5rem;
}
.cartao__container--item:nth-child(2n){
    margin-right: 0;
 }
 .cartao__container--item:nth-child(2n+1){
    margin-left: 0;
}

@media screen and (min-width: 440px) {
   .cartao-xs{
    padding: 1rem 2rem;
    }

}

@media screen and (min-width: 768px) {
    .cartao-xxs{
        margin-right: 1%;
        min-width:30%;
    }
    .cartao-xxl{
        margin-top: 0;
        min-width: 69%;
 
    }
    .cartao-xl{
        padding: 1rem 1.5rem;

    }
    .sem-conteudo{
        font-size: var(--fonte-tamanho-titulo-secundario);
    }

    
}
@media screen and (min-width: 1024px) {
    .cartao-xxs{
        min-width: 23%;
        padding: 1rem 1.5rem;
    }   
    .cartao-xxl{
        padding: 1rem 1.5rem;
        min-width: 76%;
       
    }  
    .cartao-header{
        margin-top: 0.5rem;
    }
    .cartao__container--item{ /* Remover a margin dos elementos multiplos de 3*/
        width: 32.66666666666667%;
    }
    .cartao__container--item:nth-child(2n){
        margin-right: 0.5%;
    }
    .cartao__container--item:nth-child(2n+1){
        margin-left: 0.5%;
    }
    .cartao__container--item:nth-child(3n){
        margin-right: 0;
    }
    .cartao__container--item:nth-child(3n+1){
        margin-left: 0;
    }
    
}
