.cartao--container{
    border-radius: 8px;
    background-color: var(--contraste-claro);

}

.cartao-xs{
    text-align: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}
.cartao-xl{

}

.cartao-xs__txt{
    line-height: normal;
    font-size: var(--fonte-tamanho-secundaria);   
}

@media screen and (min-width: 768px) {

   .cartao-xs{

}
}
