.input-container{
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 0.25rem;
    box-sizing: border-box;
}
.input{
    border: 2px solid var(--cinza-5);
    background-color: var(--contraste-claro);
    border-radius: 6px;
    padding-left: 0.75rem;
    height: 2.5rem;
    color: var(--cinza-1);
}

.input-full{
    width: 100%;
}

.input::placeholder{
    color: var(--cinza-5);
    font-weight: var(--fonte-peso-regular);
    padding-left: 0.05rem;
    vertical-align: middle;
}
.input:hover{
    background-color: var(--azul-claro-transparente);
}
.input:focus {
    outline: none;
    background-color: var(--contraste-claro);
    border: 2px solid  var(--azul-2);
    box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);
    -webkit-box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);
    -moz-box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);
}
.input--label{
    display: block;
    text-align: left;
    font-weight: var(--fonte-peso-medium);
    color: var(--cinza-1);
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    line-height: 1;
}
.input--label::after{
    color: var(--cor-aviso);
    content: "";
    padding-left: 5px;
}
.checkbox--label{
    display: block;
    text-align: justify;
    letter-spacing: -0.5px;

}

.textarea{
    min-height: 4rem;
    width: 100%;
    resize: none;
    padding: 0.5rem 0.75rem;
}

.label--order{
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--cinza-1);
    border-bottom: 1px solid var(--cinza-3);
    line-height: 2;
    width: 100%;
}
.dropdow--order{
    cursor: pointer;
    border: none;
    font-family: var(--fonte-familia-corpo);
    background-color: var(--contraste-claro);
    font-size: var(--fonte-tamanho-primaria);
    padding: 0 0.75rem;
    color: var(--cinza-3);
    height: 100%;
    line-height: 60px;
}
.dropdow--order:focus {
    outline: none;
    line-height: 60px;
    border: none;
}


@media screen and (min-width: 495px) {
    .label--order{
    justify-content: unset;
    width: auto;
    }
}
