.botao {
    display: block;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    width: 100%;
    max-width: 20rem;
    padding: 0.4rem;
    box-sizing: border-box;
    font-size: var(--fonte-tamanho-botao);
    align-self: center;
    text-align: center;
    margin-top: 0.5rem;
}

.botao--primario{
    
    background-color: var(--fundo-botao--primario);
    border: 1px solid var(--borda-botao--primario);
    color: var(--contraste-claro);
    
}
.botao--primario:hover{
    background-color: var(--borda-botao--primario);
}

.botao--secundario:hover{
    background-color: var(--cor-fundo);
}

.botao-simples {
    border: none;
    background-color: unset;
}

.botao-simples--adicionar {
    color: var(--fundo-botao--primario);
}

.botao-simples--excluir {
    color: var(--cor-aviso);
}

.botao-simples--editar {
    color: var(--cor-sucesso);
}

.botao-link {
    border: none;
    background-color: unset;
}