.cabecalho{
    display: flex;
    align-items: center;
    background-color: var(--cor-fundo--cabecalho);
    color: var(--contraste-claro);
    box-sizing: border-box;
    padding: 12px 32px;
    width:100%;
}
.cabecalho__logo{
    width: 64px;
	height: 32px;
	flex-shrink: 0;
}
.cabecalho__pesquisa{
    padding-left:16px;
	margin: 0 16px;
}
.cabecalho__pesquisa--input{
	background-image: url(../../img/search-icon.svg);
    background-color: var(--cor-fundo--transparente);
    outline: none;
	background-repeat: no-repeat;
	background-position: 1rem;
	border-radius: 5px;
	padding:7px 11px;
	padding-left: 56px;
	border: none;
}
.cabecalho__pesquisa--input::placeholder{
    color:var(--cor-borda);
    font-weight: var(--fonte-peso-input);
}

.cabecalho__lista-navegacao {
    text-align: center;

}

.lista-navegacao--item {
    display: inline-block;
    border-radius: 5px;
    margin: 0 0.5rem;
    padding:  0.5rem 1rem;


}
.lista-navegacao--link {
    display: inline-block;
    position: relative;
    top: 9;


}
