.cartao {
    background-color: var(--contraste-claro);
    border-radius: 10px;
    border: 1px solid var(--cor-borda);
    width: 100%;
    max-width: 25rem;
    margin: 1.5rem 0;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
}
.cartao-pup-up{
    background-color: var(--contraste-claro);
    border-radius: 10px;
    border: 1px solid var(--cor-borda);
    width: 100%;
    max-width: 21rem;
    margin: 1.5rem 0;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
}
.cartao__perfil{
    background-color: var(--contraste-claro);
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--cor-borda);
    width: 100%;
    max-width: 21rem;
    margin: 1.5rem 0;
    padding: 1.5rem 3rem;

}

