.input-container {
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 0.35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}
.input {
    box-sizing: border-box;
    border: 1px solid var(--cor-borda);
    background-color: var(--fundo--input);
    border-radius: 5px;
    padding: 1.375rem 1rem 0.5rem;
    height: 2.25rem;
    width: 100%;
    font-weight: 300;
}

.input::placeholder {
    visibility: hidden;
    color: var(--cor-input--placeholder);
}
.input:hover{
    background-color: var(--contraste-claro);
}
.input:focus {
    outline: none;
    background-color: var(--contraste-claro);
    border: 1px solid  var(--borda-input--focus);
    box-shadow: -1px 0px 0px 3px var(--sombra-input--focus);
    -webkit-box-shadow: -1px 0px 0px 3px var(--sombra-input--focus);
    -moz-box-shadow: -1px 0px 0px 3px var(--sombra-input--focus);
}

.input-label {
    position: absolute;
    top: 0.75rem;
    color: var(--cor-input--placeholder);
    font-size: var(--fonte-tamanho-primaria);
    left: 1rem;
    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: var(--fonte-tamanho-input-titulo);
    top: 0.25rem;
    transition: all .25s;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid var(--cor-aviso);
    border-radius: 7px;
}

.input-container--invalido .input-label {
    color: var(--cor-aviso);
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: var(--cor-aviso);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.textarea {
    box-sizing: border-box;
    border: 1px solid var(--cor-borda);
    padding: 0.5rem;    
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
}

.textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--fonte-peso-input);
}

.textarea::placeholder {
    visibility: hidden;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-secundaria);
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label, .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
}

.textarea-container--invalido {
    margin-bottom: 0.5rem;
}

.textarea-container--invalido .textarea {
    border: 1px solid var(--cor-aviso);
}

.textarea-container--invalido .textarea-label {
    color: var(--cor-aviso);
}

.textarea-mensagem-erro {
    display: none;
}

.textarea-container--invalido .textarea-mensagem-erro {
    display: block;
    color: var(--cor-aviso);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
.checkbox{
    text-align: justify!important;
    font-size: 14px;
    font-weight: 300;
    
}
.option{
    font-family: var(--fonte-familia-corpo);
    box-sizing: border-box;
    border: 1px solid var(--cor-borda);
    background-color: var(--fundo--input);
    border-radius: 5px;
    font-size: var(--fonte-tamanho-primaria);
    padding: 0.5rem 0.75rem;
    width: 100%;

    margin-top: 0.25rem;
    color: var(--cor-contraste-escuro);
    outline: none;
    font-weight:300;
}
.option--titulo{
    margin-top:0.25rem;
    font-size: var(--fonte-tamanho-secundaria);
    padding: 0 0.5rem;
    font-weight: 500;
}


input[type='file']{

    height:24px;
    width:24px;
    position:absolute;
    top:0;
    left:-150px;
    opacity:0;
    cursor: pointer!important;

}