

@import url(_reset.css);
@import url(_variaveis.css);

body {
	background-color: var(--azul-5);
	color: var(--cinza-1);
	font-family: var(--fonte-familia-corpo);
	overflow-x: hidden;
	letter-spacing: 0px;
	line-height: 1.5;
	font-size: var(--fonte-tamanho-primaria);
}
.center { 
	margin-left: auto;
	margin-right: auto;
}
.container-xs{
	margin-top: 5vw ;
	max-width: 27rem;
    min-width: 22rem;
}
.container-xx{
	max-width: 1000px;
}
.container-xl{
	max-width: 1280px;	
}
.container--titulo{
	font-size: var(--fonte-tamanho-titulo);
	font-weight: var(--fonte-peso-medium);
	color: var(--cinza-2);
}
.a{
	border: none;
	outline: none;
	font-size: 14px;
	color: var(--cinza-1);
}


.hidden{
	display: none;
	visibility: hidden;
}


.bold{
	font-weight: var(--fonte-peso-medium);
}
.flex {
	display: flex;
}
.flex-items-center{
	align-items: center;
}
.flex-items-end{
	align-items: flex-end;
}
.flex--coluna {
	flex-direction: column;
}
.flex-shrink-0{
	flex-shrink: 0;
}
.flex--end{
	align-items: center;
	margin-left: auto;
	justify-content: flex-end;
}
.wrap-evenly{
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.block{
	display: block;
}
.relative{
	position: relative;
}
.border{
	border: 2px solid var(--azul-claro-transparente);
}
.border-bottom{
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--cinza-6);
}
.width-full{
	width: 100%;
}

.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.link{
  color: var(--azul-1);
  text-decoration: none;
  cursor: pointer;
}

.link-externo{
font-weight: var(--fonte-peso-bold);
  font-size: var( --fonte-tamanho-secundaria);
  text-transform: uppercase;
  line-height: 1.5rem;
}
.material-icons{
	vertical-align: middle;
	margin-right: 0.25rem;
}
.sucesso{
	color: var(--cor-sucesso);
}


@media screen and (min-width: 768px) {
	 .flex--row {
		flex-direction: row;
	}
	.flex--centro {
		justify-content: center;
	}
	.px-5{
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.flex-start{
		align-items: flex-start;
	}
}
