.cabecalho{
  display: inline-block;
  position: relative;
  background-color: var(--azul-2);
  color: var(--contraste-claro);
  width: 100%;
  z-index: 100;
  min-width: 15rem; 
  padding: 0.5rem 1rem;
  height: 56px;
}
.cabecalho__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cabecalho--pesquisa{
  margin: 0 0.5rem;
}

.input-pesquisa{
  display: none;
}

.items-xl{
  display: none;
}

.avt-cab{
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem 0 0;
}
.user{
  margin-left: auto;
}
.user:hover {
  cursor: pointer;
}
.user__menu{
  align-items: center;
  display: flex;
  cursor: pointer;
}


.user__menu--name{
margin: 0;
font-weight: 400;
font-size: 1rem;
}
.user__list{
margin: 1rem 2rem;
}
.user__item{
margin: 0.5rem 0;
}
.user__link{
display: flex;
align-items: center;
}
.notifications{
  margin: 0 1rem;
}

.desactive{
  display: none;
  visibility: hidden;
}

.btn-logout:hover{
  background-color: var(--azul-5);
  border-radius: 8px;
  cursor: pointer;
}

.caixa{
  display: none;
  overflow: auto;
  z-index: 1;
  position: absolute;
  top: 64px;
  border: 1px solid var(--cinza-6);
  font-size: var(--fonte-tamanho-botao);
  color: var(--azul-1);
  right: 32px;
  padding: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  line-height: 2;
  width: 200px;
  height: auto;
}
.caixa ul{
  display: block;
}
.caixa-item:hover{
  color: var(--contraste-claro);
  border-radius: 6px;
  background-color: var(--azul-2);
}
.input-pesquisa{
  display: flex;
  border: none;
  outline: none;
  border-radius: 6px;
  background-position: 50%;
  background-color: transparent;
  font-size: var(--fonte-tamanho-botao);
  background-repeat: no-repeat;
  background-image: url(../img/icon/search-icon.svg);
  background-size: 75%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.input-pesquisa:hover{
  background-color: var(--azul-escuro-transparente);
}
.input-pesquisa::placeholder{
  opacity: 0;
}
.active{
  border: 2px solid var(--azul-claro-transparente);
  background-color: var(--azul-escuro-transparente);
}
@media screen and (min-width: 768px){


  .cabecalho__left-side{
    display: flex;
    align-items: center;
    width: 100%;
  
  }
  .cabecalho--navegacao{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cabecalho__right-side{
    display: flex;
    align-items: center;
    width: 60%; 
    justify-content: flex-end;
  }
  .navegacao--item{
    height: 100%;
    padding: 0 0.5rem;
  }
  .menu{
    display: none;
  }
  .items-xl{
    display: flex;
  }

}
@media screen and (min-width: 1024px){
  .cabecalho--navegacao{
    margin-left: 1rem;
    justify-content: flex-start;

  }
  .cabecalho__right-side{
    width: 40%; 
  }
  .input-pesquisa{
    background-size: auto;
    border: 2px solid var(--azul-claro-transparente);
    background-position: 90%;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem ;
    min-width: 40%;
    width: 100%;
  }
  .input-pesquisa:focus{
    background-color: var(--azul-escuro-transparente);
  }
  .input-pesquisa::placeholder{
    opacity: 80%;
    color: var(--azul-8);
  }
  .input-pesquisa:focus::placeholder{
    opacity: 50%;
  }
  .cabecalho{
    padding: 0.5rem 2rem;
  }
}



.dropbtn {
  cursor: pointer;
}

.show {
  display: block;
}