.erro-container{
    display: block;
    text-align: center;
}
.container-global{
	margin-top: 3vw;
	max-width: 1024px;
    min-width: 15rem;
}
.cartao-erro{
    text-align: center;
    padding: 5vw 1rem;
    margin-bottom: 1rem;
}
.ops{
    display: block;
    margin: 0 auto;
    font-size: 54px;
    font-weight: 700;
}
.btn-erro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.popup-container{
    position: fixed;
    font-size: 18px;
    text-align: justify;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 10rem;
    max-width: 30rem;
    height: fit-content;
    border-radius: 6px;
    padding: 2.5rem 2rem;
    background-color: white;
    display: none;
}
.popup-dwn{
    position: fixed;
    font-size: 18px;
    text-align: justify;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 10rem;
    max-width: 30rem;
    height: fit-content;
    border-radius: 6px;
    padding: 2.5rem 2rem;
    background-color: white;
    display: none;
    z-index: 100;
}
.btn-close{
    
}
.btn-popup{
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: center;

}
@media screen and (max-width: 495px) {
    .btn-erro{
        flex-direction: column;
        align-items: center;
    }
    .btn-popup{
        flex-direction: column;
        align-items: center;
    }

}

