.post-container{
    margin-top: 0.5rem;
    max-width: 778px;
    min-width: 15rem;
}
.post-img_container{
    display: flex;
    justify-content: center;
    max-height: 368px;
    padding-bottom: 1rem;
}
.post-img_content{
    display: flex;
    justify-content: center;

}
.post-img {
    max-width: 100%;
    max-height: 100%;
}
.disciplina{
    color: var(--azul-0);
    background-color: var(--azul-claro-transparente);
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    line-height: 1.5;
}
.btn-download{
    font-size: 14px;
    color: var(--azul-1);
    font-weight: var(--fonte-peso-medium);
}
.btn-download:hover{
    color: var(--azul-1);
    background-color: var(--azul-5)
}
.btn-excluir{
    font-size: 14px;
    color: var(--cinza-3);
    font-weight: var(--fonte-peso-medium);
}
.btn-excluir:hover{
    color: var(--cor-aviso);
    
    background-color: var(--cor-aviso-fundo);
}
.bloco-inf{
    padding-left: 0.5rem;
    justify-content: center;
}
.avt-post{
    height: 2.75rem;
    width: 2.75rem;
    margin-right: 0.25rem;
}
.btn-order{
    display: flex;
    order: -1;
    justify-content: space-around;
    width: 100%;
}
.post-data{
    color: var(--cinza-3);
    font-weight: 300;
}
@media screen and (min-width: 495px) {

    .btn-order{
        justify-content: unset;
        width: auto;
        order: 0;
    }
}
.post-descricao{
    text-align: justify;
}