.post-container{
    margin-top: 0.5rem;
    max-width: 778px;
    min-width: 15rem;
}
.post-img_container{
    display: flex;
    justify-content: center;
    height: 368px;
    padding-bottom: 1rem;
}
.post-img {
    max-width: 100%;
    max-height: 100%;
}
.btn-download{
    color: var(--azul-1);
    font-weight: var(--fonte-peso-medium);
}
.btn-download:hover{
    color: var(--azul-1);
    background-color: var(--azul-5)
}
.btn-excluir{
    color: var(--cinza-3);
    font-weight: var(--fonte-peso-medium);
}
.btn-excluir:hover{
    color: var(--cor-aviso);
    background-color: var(--cor-aviso-fundo);
}
.bloco-inf{
    padding-left: 0.5rem;
    justify-content: center;
}
.avt-post{
    height: 2.75rem;
    width: 2.75rem;
    margin-right: 0.25rem;
}
.btn-order{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
@media screen and (min-width: 495px) {
    .reverse{
        
    }
    .btn-order{
        justify-content: unset;
        width: auto;
    }
}
.post-descricao{
    text-align: justify;
}